.hide {
    display: none !important;
}

.header {
    width: 100%;
    height: 10%;
    position: fixed;
    background-color: #FFF0F5;
}

.title {
    font-size: 36px;
    font-family: "Times", Georgia, Serif;
    color: #663399;
    position: absolute;
    left: 45%;
    top: 20%;
}

.logo {
    width: 10%;
    height: 100%;
    position: absolute;
    left: 3%;
}

.loginLink {
    position: absolute;
    left: 92%;
    top: 25%;
    font-family: "Times", Georgia, Serif;
    font-size: 24px;
}

.deniedBody {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    background-image: url('/dist/0528a0ad5f0429f3b487009454bcb541.png');
}